
body{
  
  background-color: #555555;
  color: tan;
  font-family: Garamond, Helvetica, serif;
  font-size: 18px;
  text-align: left;
  margin: 5% 5%;
  outline: 3px solid tan;
  padding: 5%;
  border: 3px double tan;
  border-radius: 10px;
  
}

h1{
  text-align: left;
  font: small-caps bold 44px Garamond;
  border-bottom: double 3px tan;
}

.exp-header{
  text-align: left;
  color: tan;
  background-color: rgba(250,240,230, 0.1);
  border-left: 3px solid tan;
  padding-left: 5px;
  font: 21px Garamond;
}

h3{
  font: small-caps 24px Garamond;
}

a{
  position: fixed;
  right: 8%;
  top: 5%;
  z-index: -1;
}
